copyleft {
  font: 18px Arial, sans-serif;
  display: inline-block;
  transform: rotate(180deg);
}

/* background: */
html #footer {
  width: 100%;
  padding: 2px 3px 1px;
  position: relative;
  height: 60px;
}

.transparent {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.transparent:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.breadcrumb {
  background-color:#FFFFFF;
}

.nav-pills li {
    margin-left: 1px;
    margin-right: 1px;
}
